* {
    padding: 0;
    margin: 0;
    background: black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

#mainText {
    font-family: 'Agbalumo';
    font-size: 100px;
    text-align: center;
    color: white;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    transition-duration: 0.6s;
}

#mainText:hover{
    font-size: 110px;
    color: palegreen;
    cursor: default;
}
#underText{
    font-family: 'Agbalumo';
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.6s;
}

#underText:hover{
    font-size: 60px;
    color: lightpink;
    cursor: default;
}
.navigation{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 0.4s;
    width : 100%;
    margin-top: 10px;
}

a.but{
    margin-top: 40px;
}

#logo{
    transition-duration: 0.6s;
}
#logo img {
    width: 10vw;
    height: 10vh;
    padding: 20px;
}

#logo:hover{
    transform: scale(1.1,1.1);
}
#socials{
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 20px;
    transition-duration: 0.6s;
}
#socials img:hover{
    background-color: lightpink;
    border-radius: 6px;
    cursor: pointer;
}
#socials img{
    max-width: 2vw;
    padding: 10px;
    height: auto;
    object-fit: contain;
    transition-duration: 0.5s;
}

.but {
    font-family: 'Agbalumo';
    font-size: 35px;
    color: white;
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
}
.but:hover{
    color: palegreen;
    transform: scale(1.1,1.1);
    cursor: pointer;
}


a#ar{
    width: 20px;
    height: 20px;
}
#ar img{
    rotate: 180deg;
}
a.cont{

}

#content{
    display: grid;
    grid-template-rows: 18% 18% 18% 18% 18% 18%;
    column-gap: 100px;
    grid-template-areas:
    "P L txt"
    "txt1 L S"
    "SH L txt2"
    "txt3 L U"
    "SN L txt4"
    "txt5 L M";
    margin: auto;
    margin-top: 5%;
    height: 230vh;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
.con {
    max-width: 30vh;
    border-radius: 25px;
    display: flex;
    transition-duration: 0.2s;
}
.con:hover{
    display: flex;
    transform: scale(1.1,1.1);
    opacity: 70%;
    cursor: pointer;
}

.txt{
    font-family: 'Agbalumo';
    color: white;
    font-size: 45px;
    width: 40vh;
}
#line{
    background: white;
    width: 5px;
    height: 100%;
    border-radius: 25px;
}

#content img{

}

#content img:nth-child(1){
    grid-area: P;
}
#content img:nth-child(2){
    grid-area: S;
}
#content img:nth-child(3){
    grid-area: SH;
}
#content img:nth-child(4){
    grid-area: U;
}
#content img:nth-child(5){
    grid-area: SN;
}
#content img:nth-child(6){
    grid-area: M;
}
#content div:nth-child(7) {
    grid-area: L;
    background: white;
}
#content div:nth-child(8) {
    grid-area: txt;
}
#content div:nth-child(9) {
    grid-area: txt1;
}
#content div:nth-child(10) {
    grid-area: txt2;
}
#content div:nth-child(11) {
    grid-area: txt3;
}
#content div:nth-child(12) {
    grid-area: txt4;
}
#content div:nth-child(13) {
    grid-area: txt5;
}
#arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 2vw;
    margin-top: 35vh;
    transition-duration: 0.6s;
}
#arrow:hover{
    max-width: 2.5vw;
}
#contact form{
    grid-column-gap: 50px;
    margin: auto;
    margin-top: 20vh;
    padding: 50px;
    width: 50vw;
    height: 45vh;
    display: grid;
    grid-template-columns: 40vh 20vh 10vw;
    grid-template-rows: 13vh 26vh 4vh;
    grid-template-areas:
    "pic title title"
    "pic text text"
    "pic . sub";
}
#contact form div:nth-child(1){
    grid-area: pic;
}
#contact form div:nth-child(2){
    grid-area: title;
    margin-top: 40px;
}
#contact form div:nth-child(3){
    grid-area: text;
    margin-top: 40px;
}
#contact form div:nth-child(4){
    grid-area: sub;
}
input[type=text], select, textarea {
    font-family: 'Agbalumo';
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}
input[type=submit] {
    font-family: 'Agbalumo';
    background-color: white;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 6vw;
    width: 180px;
}
@media only screen and (max-width: 900px){

}
#coding{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Agbalumo';
    color: white;
    font-size: 80px;
    transition-duration: 0.6s;
}
#coding:hover{
    font-size: 82px;
    color: lightgreen;
    cursor: default;
}

#workCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBox {
    width: 10vw;
    height: 20vh;
    margin: 50px;
    margin-top: 100px;

}
.workBox img{
    max-width: 200px;
    transition-duration: 0.4s;
}
.workBox img:hover{
    transform: scale(1.1,1.1)
}
#projects{
    display: flex;
    color: white;
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Agbalumo';
}
#arrow2{
    display: flex;
    margin: auto;
    margin-top: 5vh;
    background-image: url("img/arrow.png");
    background-size: cover;
    max-width: 5vw;
    height: 30px;
    rotate: 180deg;
}

#line2{
    display: flex;
    background-color: white;
    width: 99vw;
    height: 2vh;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
}

#petal{
    display: flex;
    margin: auto;
    background-image: url('img/Petal background updated.jpg');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#petal:hover{
    opacity: 100%;
}
#petal img{
    max-width: 40%;
    margin-top: 30vh;
    margin-left: 50px;
    height: 40%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
.text{
    font-family: 'Agbalumo';
    background: white;
    padding: 10px;
    max-width: 40%;
    height: 40vh;
    margin-top: 29vh;
    margin-left: 5vw;
    font-size: 22px;
    color: black;
    border-radius: 30px;
}
#swordiir{
    display: flex;
    margin: auto;
    background-image: url('img/swordiir color corrected.jpg');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#swordiir:hover{
    opacity: 100%;
}
#swordiir img{
    max-width: 40%;
    margin-top: 30vh;
    margin-left: 50px;
    height: 40%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
#shriu{
    display: flex;
    margin: auto;
    background-image: url('img/Shriu wallpaper.png');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#shriu:hover{
    opacity: 100%;
}
#shriu img{
    max-width: 40%;
    margin-top: 30vh;
    margin-left: 50px;
    height: 40%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
#umbra{
    display: flex;
    margin: auto;
    background-image: url('img/Wallpaper.jpg');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#umbra:hover{
    opacity: 100%;
}
#umbra img{
    max-width: 40%;
    margin-top: 30vh;
    margin-left: 50px;
    height: 40%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
#snails{
    display: flex;
    margin: auto;
    background-image: url('img/MenuW.png');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#snails:hover{
    opacity: 100%;
}
#snails img{
    max-width: 30%;
    margin-top: 10vh;
    margin-left: 50px;
    height: 30%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
.text2{
    font-family: 'Agbalumo';
    background: white;
    padding: 10px;
    max-width: 53%;
    height: 20vh;
    margin-top: 15vh;
    margin-left: 5vw;
    font-size: 22px;
    color: black;
    border-radius: 30px;
}
#momaze{
    display: flex;
    margin: auto;
    background-image: url('img/MovemntMaze.png');
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    transition-duration: 1s;
    opacity: 60%;
    background-position: center;
    background-size: cover;
}
#momaze:hover{
    opacity: 100%;
}
#momaze img{
    max-width: 40%;
    margin-top: 30vh;
    margin-left: 50px;
    height: 40%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

#face{
    display: flex;
    padding: 50px;
}
#face img{
    border-radius: 20px;
    max-width: 20%;
}
#face div{
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    color: white;
    font-family: 'Agbalumo', sans-serif;
    font-size: 30px;
}
#face div img{
}
#Text{
    display: flex;
}
#contactButton{

    display: flex;
    margin: auto;
    text-decoration: none;
    font-family:"Agbalumo";
    border-radius: 20px;
    color: black;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background: white;
    width: 6vw;
    height: 5vh;
    transition-duration: 0.6s;
    cursor:pointer;
}
#contactButton:hover{
    width: 6.5vw;
    height: 5.5vh;
}