body {
    overflow-x: hidden;
    background: linear-gradient(#6fbce3, #4687b4, #5197b8);
    min-height: 100vh;
    font-family: 'Agbalumo';
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    filter: saturate(1.8);
}
#bottom-image2 {
    position: fixed;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    max-width: 100%;
    height: 200px;
    width: 200px;
    background: none;
}

#mainText {
    font-size: 100px;
    text-align: center;
    color: white;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    cursor: default;
}

#mainContent {
    margin: 0 200px;
}

#buttonBox {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    font-family: 'Agbalumo';
    font-size: 15px;
    height: 5vh;
    width: 6vw;
    border-radius: 15px;
    border: none;
    color: black;
    background: white;
    margin: 0 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.4s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}
.buttons:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: lightgreen;
    text-decoration: none;
}
.buttons{
    color: black;
    text-decoration: none;
}


#RightArrow:hover{

}
#LeftArrow:hover{
    font-size: 110px;
    color: palegreen;
    cursor: default;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 42vh;
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
}

#abt {
    font-size: 55px;
    margin-top: 10px;
    color: #ffffff;
    height: 10vh;
    width: 20vw;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#abtBoxes {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 12vh;
    background: none;
}

#abtBox1 {
    font-size: 30px;
    text-align: left;
    color: white;
    height: 60vh;
    width: 35vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    margin-top: 50px;
    cursor: default;
}

#abtBox2 {
    font-size: 55px;
    color: white;
    height: 60vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
}

#abtBox2 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

#abtBox2 button {
    font-size: 25px;
    position: absolute;
    top: 102%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 0;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    transition-duration: 0.4s;
}

#abtBox2 button:hover {
    background-color: lightgreen;
}
.navigation{
    display: flex;
    align-items: flex-start;
    transition-duration: 0.4s;
    width : 100%;
    margin-top: 10px;
}
#mainText, #underText, .but, #coding, #projects {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


@keyframes headerAnimation {
    to {
        background-position: 100% 100%;
    }
}

a.but{
    margin-top: 40px;
}

#logo{
    transition-duration: 0.6s;
    background: none;
}
#logo img {
    width: 100px;
    height: 100px;
    padding: 25px;
    background: none;
}

#logo:hover{
    transform: scale(1.1,1.1);
}
#socials{
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 20px;
    transition-duration: 0.6s;
}
#socials img:hover{
    background-color: lightpink;
    border-radius: 6px;
    cursor: pointer;
}
#socials img{
    max-width: 2.2vw;
    padding: 10px;
    height: auto;
    object-fit: contain;
    transition-duration: 0.5s;
}

.but {
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition-duration: 0.2s;
    text-decoration: none;
}
.but:hover{
    color: palegreen;
    transform: scale(1.1,1.1);
    cursor: pointer;
}


a#ar{
    width: 20px;
    height: 20px;
}
#ar img{
    rotate: 180deg;
}
.txt{
    color: white;
    font-size: 45px;
    width: 40vh;
}
@media only screen and (max-width: 900px){

}
#coding{
    display: flex;
    margin: auto;
    margin-left: 100px;
    justify-content: center;
    color: white;
    font-size: 40px;
    transition-duration: 0.6s;
}
#coding:hover{
    font-size: 45px;
    color: lightgreen;
    cursor: default;
}

#workCont {
    display: flex;
    justify-content: flex-start;
    margin-top: 8vh;
    margin-left: 10vw;
}

.workBox {
    width: 150px;
    height: 200px;
    margin: 80px;
    margin-top: 100px;
}

.workBox img {
    max-width: 200px;
    transition-duration: 0.4s;
}

.workBox img:hover {
    transform: scale(1.1,1.1);
}
#workCont3{
    font-size: 32px;
    text-align: left;
    color: white;
    height: 60vh;
    width: 35vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    margin-top: 120px;
    margin-left: 10vw;
    cursor: default;
}
#Insight {
    font-size: 55px;
    color: #ffffff;
    height: 5vh;
    width: 20vw;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: default;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    cursor: pointer;
}

.image-wrapper {
    position: relative;
    margin: 0 10px;
}

.image-wrapper img {
    width: 250px;
    height: auto;
    transition: transform 0.3s ease;
    margin: 50px;
    border-radius: 17px;
}

.overlay {
    position: absolute;
    top: 24px;
    left: 24.5px;
    width: 86%;
    height: 85%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
    border-radius: 20px;
    transform-origin: center;
}


.overlay p {
    color: white;
    font-size: 26px;
    text-align: center;
}

.image-wrapper:hover img {
    transform: scale(1.2);
}

.image-wrapper:hover .overlay {
    opacity: 0.8;
}
#Projects {
    font-size: 55px;
    color: #ffffff;
    height: 10vh;
    width: 20vw;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: default;
}

#bottomText{
    color: white;
    height: 10vh;
}

#main {
    text-align: center;
}
.overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





